@page
@model dinTour.Pages.Tilkøb.DeltagerBestillingerModel
@{
}
<h1 class="outlinetext" style="color: gray">Deltager Bestillinger</h1>
<br />
<h5 class="outlinetext" style="color: gray">Deltager parkering bookninger</h5>
<div class="test">
<table class="table table-bordered" width="60%">
    <thead>
    <tr class="btn-secondary active">
        <th>Booknings Id</th>
        <th>Parkerings Id </th>
        <th>DeltagerID</th>
        <th>Booknings Tidspunkt</th>

    </tr>
    </thead>
    <tbody>
    @if (@Model.CurrentBookings != null)
    {
        foreach (var order in Model.CurrentBookings)
        {
            <tr class="btn-secondary">
                <td>
                    @order.BookingId
                </td>
                <td>
                    @order.ParkeringId
                </td>
                <td>@order.DeltagerId</td>
                <td>
                    @order.Date
                </td>
                <td>@order.Name</td>
            </tr>
        }
    }
    </tbody>
</table>
</div>
    <h5 class="outlinetext" style="color: gray">Deltager Menu bestillinger</h5>
    <div class="test">
    <table class="table table-bordered" width="60%">
        <thead>
        <tr class="btn-secondary active">
            <th>Tilkøbs Id</th>
            <th>Menu Id</th>
            <th>Dit DeltagerId</th>
            <th>Menu</th>
            <th>Dit Navn</th>
            <th>Antal</th>
            <th>Champagne Menu</th>
            <th>Bestillings Tidspunkt</th>
        </tr>
        </thead>
        <tbody>
        @if (@Model.CurrentBookings != null)
        {
            foreach (var order in Model.CurrentTilkøb)
            {
                <tr class="btn-secondary">
                    <td>
                        @order.TlkøbId
                    </td>
                    <td>
                        @order.VIPId
                    </td>
                    <td>@order.DeltagerId
                    </td>
                    <td>@order.Menu
                        </td>
                    <td>@order.Name
                    </td>
                    <td>@order.Count
                    </td>
                    <td>@order.ChampagneMenu</td>
                    <td>
                        @order.Date
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>