@page
@model dinTour.Pages.Parkering.ParkeringDeltagerModel
@{
}
<h1 class="outlinetext" style="color: gray">Optaget parkeringspladser</h1>
<br />
<div class="test">
    <table class="table table-bordered table-hover" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Booknings Id</th>
                <th>Parkerings Id </th>
                <th>DeltagerID</th>
                <th>Booknings Tidspunkt</th>

            </tr>
        </thead>
        <tbody>
        @if (@Model.CurrentBookings != null)
            {
                foreach (var order in Model.CurrentBookings)
                {
                    <tr class="btn-secondary">
                        <td>
                            @order.BookingId
                        </td>
                        <td>
                            @order.ParkeringId
                        </td>
                        <td>@order.DeltagerId</td>
                        <td>
                            @order.Date
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>