@page
@model dinTour.Pages.Parkering.ParkeringDeltagerModel
@{
}
<h1>Optaget parkeringspladser</h1>
<br />
<div class="test">
    <table class="table table-bordered table-hover table-striped" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Booknings Id</th>
                <th>Booknings Tidspunkt</th>

            </tr>
        </thead>
        <tbody>
            @*@if (@Model.MyOrders != null)
                {
                    foreach (var order in Model.MyOrders)
                    {
                        <tr class="btn-secondary">
                            <td>
                                @order.OrderId
                            </td>
                            <td>
                                @order.Date
                            </td>

                            <td>
                                @order.ItemId
                            </td>
                            <td>
                                @order.ItemName
                            </td>
                            <td>
                                @order.Price
                            </td>
                            <td>
                                @order.Count
                            </td>
                            <td>
                                @(order.Count * order.Price)
                            </td>
                        </tr>
                    }
                }*@

            @if (@Model.CurrentBookings != null)
            {
                foreach (var order in Model.CurrentBookings)
                {
                    <tr class="btn-secondary">
                        <td>
                            @order.BookingId
                        </td>
                        <td>
                            @order.Date
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>