@page
@model dinTour.Pages.Events.GetEventsModel
@{
}

<h3>Events</h3>
@if (HttpContext.User.Identity.Name.Equals("admin"))
{
    <p>
        <a class="btn btn-primary" data-toggle="tooltip" title="Add Begivenhed" asp-page="/Events/OpretBegivenhed">Opret Begivenhed </a>
    </p>
}
<div class="container">
<div class="row">
    <div class="col-sm-4 shadow-lg bg-light">
        <h3>MadTelt</h3>
        @if (@Model.Begivenheder != null)
        {
            foreach (var item in Model.Begivenheder)
            {
                if (item.Location == "MadTelt")
                {
                    <div class="card shadow mb-2 mt-1 ym-2"></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Navn på begivenhed: @item.Navn</h4>
                            <h4>Begivenheden Starter kl: @item.StartTime</h4>
                        </div>
                        <div class="card-text">
                            <p style="font-size: 25px">@item.Beskrivelse</p>
                        </div>
                        @if (HttpContext.User.Identity.Name.Equals("admin"))
                        {
                            <div class="card-footer">
                                <p>PLACEHOLDER</p>
                            </div>
                        }
                    </div>
                }

            }

        }
    </div>
    
    
    <div class="col-sm-4 shadow-lg bg-light">
        <h3>Tribune</h3>
        @if (@Model.Begivenheder != null)
        {
            foreach (var item in Model.Begivenheder)
            {
                if (item.Location == "Tribune")
                {
                    <div class="card shadow mb-2 mt-1 ym-2"></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Navn på begivenhed: @item.Navn</h4>
                            <h4>Begivenheden Starter kl: @item.StartTime</h4>
                        </div>
                        <div class="card-text">
                            <p style="font-size: 25px">@item.Beskrivelse</p>
                        </div>
                        @if (HttpContext.User.Identity.Name.Equals("admin"))
                        {
                            <div class="card-footer">
                                <p>PLACEHOLDER</p>
                            </div>
                        }
                    </div>
                }

            }

        }
    </div>
    

    
    
    <div class="col-sm-4 shadow-lg bg-light">
        <h3>MusikTelt</h3>
        @if (@Model.Begivenheder != null)
        {
            foreach (var item in Model.Begivenheder)
            {
                if (item.Location == "MusikTelt")
                {
                    <div class="card shadow mb-2 mt-1 ym-2"></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Navn på begivenhed: @item.Navn</h4>

                            <h4>Begivenheden Starter kl: @item.StartTime</h4>
                        </div>
                        <div class="card-text">
                            <p style="font-size: 25px">@item.Beskrivelse</p>
                        </div>
                        @if (HttpContext.User.Identity.Name.Equals("admin"))
                        {
                            <div class="card-footer">
                                <p>PLACEHOLDER</p>
                            </div>
                        }
                    </div>
                }

            }

        }
    </div>
</div>
    </div>