@page
@model dinTour.Pages.Events.TilmeldEventModel
@{
}
<h1 class="outlinetext" style="color: gray">Events</h1>

<table class="table table-bordered" width="60%">
    <col style="width: 7%">
    <col style="width: 74%">
    <col style="width: 10%">
    <thead>
        <tr class="btn-secondary active">
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Event Id</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div>
                        <h5>Eventets navn</h5>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div>
                        <h5>Antal der deltager</h5>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div>
                        <h5>Actions</h5>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Events != null)
        {
            foreach (var item in Model.Events)
            {
                <tr class="btn-secondary">
                    <td>
                        @item.EventId
                    </td>
                    <td>
                        @item.EventName
                    </td>
                    <td>
                        @item.AntalTilmeldte
                    </td>
                    <td>
                        <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Tilmeld" asp-page="BekræftTilmelding" asp-route-id="@item.EventId"><i class="fa-solid fa-trash"></i></a>
                                </li>
                            </ul>
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
